language: node_js
node_js:
  - "6"
notifications:
  email:
    recipients:
      - samuelfabrizio@gmail.com
      - alan.campora@gmail.com
    on_success: [change]
    on_failure: [always]
after_success:
  - npm run coverage
  - bash <(curl -s https://codecov.io/bash)
